.elements{
    position: relative;
    float: left;
    margin:auto;
    display:inline-block !important;
    vertical-align: middle !important;
}

textarea{
    height: 200px;
    min-width: 10px;
    padding-right:0px;

}

.form-control{
    resize:none;
    color:black;
}
.vert{
    background-color: greenyellow;
}
.bleu{
    background-color: deepskyblue;
}
.rouge{
    background-color: indianred;
}
.rose{
    background-color: lightpink;
}
.blanc{
    background-color: white;
}

.categoryGroup h1{
    display: inline-block;
}
